
.cart_title {background:url(/images/cart/lstc_07.jpg) no-repeat; width:200px; height:35px; line-height:35px;padding-left:10px; color:#fff; font-family:microsoft yahei; font-size:17px; }
.cart_content {border:1px solid #dddddd; width:198px; overflow:hidden; }

.cart_content .cart_item {
    width: 198px;
    height:22px;
    background-color: #eeffee;
}

.cart_content .cart_item ul {
    margin: 0px;
    padding: 0px;
    width: 198px;
    height: 22px;
}
.cart_content .cart_item ul li {
    float: left;
    text-align: left;
    height:18px;
    padding: 2px;
}

.cart_content .cart_item .item_name{
    width: 50px;
    font-weight: bolder;
    padding-left: 10px;
}

.cart_content .cart_item .item_count{
    width: 15px;
    color: blue;
    text-align: right;
}

.cart_content .cart_item .item_price {
    float: right;
    padding-right: 5px;
}

.cart_content .cart_item .total_cell {
    color: #730E15;
    float: right;
    padding-right: 5px;
}

.cart_content .cart_item .cart_button {
    float: right;
    padding-right: 5px;
}

/* 种类细分 */
.category_r{ width:765px; float:right; overflow:hidden; padding-bottom:5px;_padding-bottom:0px; margin-top:15px;}
.category_shaixuan{ border:1px solid #ebebeb; overflow:hidden; width:763px; padding-bottom: 10px;}
.spfl_r_table_tit {height:32px; overflow:hidden; background:url(../lstc_images/lstc_spfl/spfl_03.jpg) repeat-x; padding-left:12px; font-family: microsoft yahei; font-size:14px; font-weight:700; line-height:29px; color:#707070;}
.choose_pro_tab{ color:#1f1f1f; overflow:hidden;margin-left:10px;}
.choose_pro_tab li { float:left;}
.choose_pro_fenlei { width:715px;border-bottom:1px solid #ebebeb; margin-left:12px;  padding-bottom:5px; _margin-left:6px; }
.category_shaixuan_c h2 { padding-left:10px;}
.choose_pro_tab li span{ color:#5D5D5D; margin:0 8px;}
.choose_pro_fenlei span { float:left;}
.choose_pro_tab a{ color:#5D5D5D; float:left; margin-right:13px; white-space:nowrap;display:block;margin-bottom:2px; height: 22px;line-height: 22px; padding:0px 4px; }
.choose_pro_tab li h2{ float:left;  font-weight:700; margin-right:5px; margin-top:1px;_margin-top:0px;}

/* 排序 */
.category_result{ margin-top:12px; _margin-top:11px;width:763px; border:1px  solid #ffd6aa; background:url(/images/mainpage/spfl_pxfsbc.jpg) repeat-x; height:22px; overflow:hidden; padding:6px 0;}
.category_result .paixu{ float:left; padding-left:8px; height:32px;  color:#EC7612;}
.category_result .paixu img{ vertical-align:middle;}
.category_result .result{ float:right; color:#C47A23;padding-right:20px;}

/* detail */
.category_pro_tab{ width:765px; margin-top:8px; overflow:hidden;}
.category_pro_list{ width:820px;}
.category_pro_list li{ float:left; width:170px; height:245px; overflow:hidden; margin-right:10px; padding-left:8px; margin-top:10px; }
.category_pro_pic{ width:170px; height:170px; text-align:center;}
.category_pro_pic img { width:170px; height:170px;}
.category_pro_name{height:auto !important; height:40px; max-height:40px;overflow:hidden; line-height:20px; word-break:break-all; color:#666666; margin-top:5px;}
.category_pro_name a{ color:#666666;}
.category_pro_price{ color:#c9080b;}
.category_pro_name form {float: right;}
.cate_pages{ margin-top:15px;}
.cate_choose_tit { margin-left:10px;}

