/* Global styles */

div {
    display: block;
}
/* 全局 2009.7.28*/
body{margin:0;padding:0 0 12px 0;font-size:12px; color:#383836;line-height:1.8;font-family:"Arial","宋体";}
form,ul,li,ol,li,dl,dt,dd,img,p,h1,h2,h3,h4,h5,h6,input{margin:0;padding:0; }
h1,h2,h3,h4,h5,h6{font-size:12px;}
input,select{font-size:12px;}
img{border:0;}
ul,li{list-style-type:none;}
strong{font-weight:normal;}
em {font-style:normal;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;}
/* Link 全局链接样式 2009.7.28 */
a{color:#666;text-decoration:none; cursor:pointer;}
a:hover{color:#bd0a01;text-decoration:underline;}
.color_6e ,.color_6e a{ color:#6E6E6E;}
.display_no{display:none;}
.display_yes{display:block;}

#store #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}


#store h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

#store_list {
    border-top: 3px dotted #77d;
}

#store_filter {
}

#store_filter ul{
    list-style: none;
    padding: 0px;
}

#store_filter li{
    display: inline;
    padding: 5px;
}

#store_filter .filter_button{
    color: #ff0000;
    background-color: #CCCCCC;
    text-decoration: none;
}

#store .entry form, #store .entry form div {
    display: inline;
}

/* Styles for products/index */

#product_list table {
        border-collapse: collapse;
}

#product_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
}

#product_list .list_description {
  width:        20%;
}

#product_list .list_description dl {
        margin: 0;
}

#product_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product_list .list_description dd {
    margin: 0;
    font-size:    small;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:   #e0f8f8;
}

#product_list .list_line_odd {
  background:   #f8b0f8;
}

/* An entry in the store catalog */

#store  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#store  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}


#store .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}

#store .entry p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}

#store .entry .price_line {
 clear: both;
 margin-bottom: 0.5em;
}

#store .entry .add_to_cart {
  position: relative;
}

#store .entry  .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}

#columns {
    width:200px; float:left; padding-bottom:20px;
}

#main {
    width: 765px;
    float: right;
    overflow: hidden;
    padding-bottom: 5px;
    _padding-bottom: 0px;
    margin-top: 15px;
    background: white;
}

#side {
    float: left;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    width: 16em;
    background: #141;
}

#side a{
    color: #bfb;
    font-size: small;
}

.depot_form fieldset {
    background: #efe;
}

.depot_form legend {
    color: #dfd;
    background: #141;
    font-family: sans-serif;
    padding: 0.2em 1em;
}

.depot_form label {
    width: 5em;
    float: left;
    text-align: right;
    padding-top: 0.2em;
    margin-right: 0.1em;
    display: block;
}

.depot_form select, .depot_form textarea, .depot_form input {
    margin-left: 0.5em;
}

.depot_form .submit {
    margin-left: 4em;
}

.depot_form div {
    margin: 0.5em 0;
}

#uploaded_image {
    width:     100px;
    height:    100px;
}

#customer_order_list .product_image {
    width:     70px;
    height:    70px;
}

#customer_order_list .line_item {
    height: 80px;
}

#showhidecart {margin-top:14px; width:200xp;overflow:hidden;}


body {
    margin: 0;
    padding: 0 0 12px 0;
    font-size: 12px;
    color: #383836;
    line-height: 1.8;
    font-family: "Arial","宋体";
}

.lstc_header{

}
.lstc_header_top {
    width: 980px;
    margin: 0 auto;
    background: #f6f6f6;
    height: 26px;
    line-height: 26px;
}
.lstc_header_top a {line-height:26px;}

.lstc_header_top_login {
    margin-left: 16px;
    color: #828282;
    float: left;
    height: 26px;
    padding-bottom: 5px;
    width: 210px;
}

.lstc_header_top_login span { margin-left:3px; margin-right:3px;}
.lstc_header_top_login span a {color:#b40003;}
.lstc_openid {float:left; height:26px; width:245px;  }
.lstc_header_top_cart{float:left; margin-left:10px;background:url(/images/mainpage/llstc_03.jpg) no-repeat left center; padding-left:20px;}
.lstc_header_top_cart a {color:#848484;}
.lstc_header_top_cart a span { color:#d70103;}
.lstc_header_top_links{ float:right; margin-right:16px; color:#c3c3c3; _margin-right:8px;}
.lstc_header_top_links span {margin:0 8px;}

.lstc_header_center{width:980px; height:86px; margin:0 auto; overflow:hidden;}
.lstc_header_logo{ margin-left:0px; margin-top:15px; float:left; _margin-left:11px;}
.lstc_header_logo img {width: 200px; height: 50px;}
.lstc_header_search{width:445px; float:right; margin-top:24px; margin-right:30px; _margin-right:15px;}
.lstc_search_class {display:none;}
.lstc_header_search_text{width:369px;height:31px; _height:32px; overflow:hidden;}
.lstc_header_search_text input{width:367px; height:32px;border:0px; margin:0px; padding:0px; background:url(/images/mainpage/llstc_13.jpg) no-repeat; padding-left:4px; font-size:14px; line-height:31px;_line-height:32px;}
.lstc_header_search_button{width:75px; overflow:hidden;_margin-top:1px;}
.lstc_header_search_button input {width:75px; height:31px; border:0px; background:url(/images/mainpage/llstc_06-05.jpg) no-repeat; color:#fff; font-size:14px; font-weight:700; letter-spacing:3px; cursor:pointer;}
.lstc_header_search_text,.lstc_header_search_button{float:left}
.lstc_header_hotkeys {color:#8c8c8c; margin-top:5px; float:left; width:460px; height:20px;overflow:hidden;}
.lstc_header_hotkeys a { color:#8c8c8c;}
.lstc_header_hotkeys span { margin:0 5px}
.lstc_header_tel {float:right; margin-top:22px;}

.lstc_header_bottom{background:url(/images/mainpage/llstc_topbc.jpg) repeat-x top; height:46px; position:relative;top:5px; z-index:99999;}
.lstc_header_bottom a:hover{text-decoration:none; color:#ffffff;}
.lstc_header_bottom_content{width:980px; margin:0 auto; text-align:left;}

.lstc_header_bottom_content a:hover{color:#fff;}
#lstc_header_bottom_menu {line-height:42px;width:740px; float:left; margin-left:32px;}
#lstc_header_bottom_menu a {font-size:14px; color:#fff; font-weight:700;}
#lstc_header_bottom_menu a:hover{ background:url(/images/mainpage/llstc_25.jpg) no-repeat center; color:#fff;}
.lstc_homepage {float:left; width:92px; text-align:center;}
#lstc_header_bottom_menu  li{float:left; width:108px; background:url(/images/mainpage/llstc_27.jpg) no-repeat  center left; text-align:center;}
#lstc_header_bottom_menu  li a {padding:14px 18px;}

.nav_c{width:980px; margin:0 auto; height:30px; line-height:30px; color:#FFFFFF; font-size:12px; font-weight:700;}
.allcate { float:left; background:url(/images/mainpage/llstc_20.jpg) no-repeat top left; width:206px;height:49px; margin-top:-5px; height:47px; line-height:45px;_line-height:47px; position:relative;  font-weight:700; font-size:17px;font-family:microsoft yahei; padding-left:20px; width:186px;color:#fff;}
.allcate a {
    color: #FFFFFF;
    cursor:pointer;
    display:block;
}
.allcate a:hover{ color:#ffffff;}

.content_body{width:980px; overflow:hidden; margin:0 auto; }

.my_left_category{
    background:url(/images/mainpage/lstc_guidebc.jpg) repeat-y;
    width:200px;
    font-size:12px;
    font-family:arial,sans-serif;
    position:relative;
    z-index:2;
}

.my_left_category .my_left_cat_list{
    width:200px;
    line-height:13.5pt;
    background:url(/images/mainpage/llstc_30.jpg) no-repeat bottom center;
    _height:34px; _overflow:hidden;
}

.my_left_category .h2_cat{
    width:180px;
    height:33px;

    line-height:33px;
    font-weight:normal;
    color:#333333;
    z-index: 4;
}

.my_left_category h3{
    width:200px;
    margin:0px;
    padding:0px;
    height:32px;
    font-size:14px;
    font-weight:bold;
    display:block;
    background:url(/images/mainpage/lstc_menubc.jpg) no-repeat 162px 10px ;
    position: absolute;
    clear:both;
    overflow:hidden;
    z-index:2;
}
.my_left_category h3 span{color:#222222; width:250px; float:right;}
.my_left_category h3 a{	color:#686868; font-family:ËÎÌå; font-weight:bolder; font-size:14px;  float:left; display:block; padding-left:22px;  line-height:33px;
}