<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<% if session[:user_priority] == 5 %>
    <%= link_to 'Back', users_path %>
<% else %>
    <%= link_to 'Back', store_path %>
<% end %>
